<template>
    <div>
        <div class="row">
            <div class="col-md-3 mb-4">

                <input type="email" v-model="newInvite" class="form-control" placeholder="Email">
                <button :disabled="disableAddInvite" @click="addInvite">Add invite</button>

                <table class="table table-bordered">
                    <tr>
                        <td>Name</td>
                        <td>is Accepted</td>
                        <td>Delete</td>
                    </tr>
                    <tr v-for="(invite, index) in invites" :key="invite.id">
                        <td v-if="checkInviteName(invite)">
                            {{ invite.client.client_profile.full_name }}
                        </td>
                        <td v-else-if="invite.client && typeof invite.client.client_profile !== 'undefined'">
                            {{ invite.client.email }}
                        </td>
                        <td v-else>
                            {{ invite.email }}
                        </td>
                        <td>
                            {{ invite.is_accepted == 1 ? 'Yes' : 'No' }}
                        </td>
                        <td>
                            <button
                                v-if="invite.is_accepted == 0"
                                @click="deleteInvite(index)"
                                class="btn btn-danger">
                                Delete
                            </button>
                        </td>
                    </tr>
                </table>

            </div>
        </div>

    </div>
</template>

<script>
    export default {
        props: ['invitesData'],
        data() {
            return {
                invites: this.invitesData,
                newInvite: '',
                disableAddInvite: false,
            }
        },
        methods: {
            deleteInvite(index) {
                const invite = this.invites[index];

                makeSure('Are you sure?', result => {
                    if (result === true){
                        axios.delete('/teachers/invite/' + invite.id).then(response => {
                            this.invites.splice(index, 1);
                            notify('deleted', 'success');
                        }).catch(error => {
                            notify(error.response.statusText, 'error');
                        });
                    }
                })

            },
            addInvite() {
                this.disableAddInvite = true;
                if (this.newInvite === '') {
                    this.disableAddInvite = false;
                    notify('Empty email', 'warning');
                    return false;
                }
                axios.post('/teachers/invite/', {
                    email: this.newInvite,
                }).then(response => {
                    this.newInvite = ''
                    this.invites.push(response.data)
                    notify('Added', 'success');
                }).catch(error => {
                    notify(error.response.data.message, 'error');
                }).then(() => {
                    this.disableAddInvite = false;
                });
            },
            checkInviteName(invite) {
                if (invite.client !== null && typeof invite.client !== 'undefined') {
                    if (invite.client.client_profile !== null
                        && typeof invite.client.client_profile !== 'undefined') {
                        return true
                    }
                }
                return false;
            }
        },
    }
</script>
