<template>
    <div class="teacher-request">
        <div v-for="(request, key) in teachersRequests" :key="request.id" class="cart">
            <div class="row">
                <div class="col-5">
                    <img class="client-profile-image" :src="'/img/' + request.client.client_profile.photo"
                         alt="profile image">
                </div>
                <div class="col-85">
                    <div class="client-name">
                        {{ request.client.client_profile.full_name }}
                    </div>

                    <div class="request-time">
                        Request was sent:
                        {{ request.created_at }}
                    </div>
                </div>
                <div class="col-10">
                    <div>
                        <span class="request-reject request-btn">
                            <img @click="decideRequest(key, false)" src="/img/icons/student_request_reject.png"
                                 alt="reject">
                        </span>
                        <span class="request-btn">
                            <img @click="decideRequest(key, true)" src="/img/icons/student_request_okay.png"
                                 alt="okay">
                        </span>
                    </div>
                </div>
            </div>
            <div v-if="request.message" class="row">
                <div class="col-100">
                    <div class="request-message-text">
                        Message for you
                    </div>
                    <div>
                        {{ request.message }}
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>

    export default {
        props: ['teachersRequestsData'],
        data() {
            return {
                teachersRequests: this.teachersRequestsData
            }
        },
        methods: {
            decideRequest(key, decide) {
                let request = this.teachersRequests[key];
                axios.put('/teachers/students/requests/' + request.id, {is_accepted: decide})
                    .then(response => {
                        this.teachersRequests.shift(key, 1);
                        notify(response.data)
                    }).catch(error => {
                        notify('Something went wrong', 'error');
                    }
                );
            },
        },

    }
</script>

