$nav: 60px;
$menu_height: 66px;

$container-max-width: 1270px;

// old
$system_color: #3F89E5;
$btn_grey_color: #B4B4B4;
$system_error_color: #F93636;
$textColor: rgba(0, 0, 0, 1);

// new color group
$system_bg_color: #F2F2F2;
$system_color: #D0D0D0;


// screen sizes
$break-small-w: 700px;
$break-small-h: 700px;

$font-main: 'Rubik', sans-serif;

@mixin font($font-family, $font-file, $font-weight) {
    @font-face {
        font-family: $font-family;
        src: url($font-file) format('truetype');
        font-weight: $font-weight;
        font-style: normal;
    }
}

@include font('Segoe UI', '../fonts/segoeuisl.ttf', normal);
@include font('Calibri', '../fonts/Calibri/Calibri Regular.ttf', normal);
@include font('Calibri', '../fonts/Calibri/Calibri Light.ttf', lighter);
@include font('Calibri', '../fonts/Calibri/Calibri Bold.ttf', bold);

@include font('Rubik', '../fonts/Rubik/Rubik-Light.ttf', 300);
@include font('Rubik', '../fonts/Rubik/Rubik-Regular.ttf', 400);
@include font('Rubik', '../fonts/Rubik/Rubik-Medium.ttf', 500);
@include font('Rubik', '../fonts/Rubik/Rubik-Bold.ttf', 700);
@include font('Rubik', '../fonts/Rubik/Rubik-Black.ttf', 900);


// ~~~~~~~~ MAIN style for HTML elements ~~~~~~~~
a, p, label, input, ul, li {
    font-weight: 100;
    font-family: $font-main;
}

* {
    margin: 0;
    padding: 0;
    //box-sizing: border-box;
    //font-size: 24px;
    box-sizing: inherit;

    &:before,
    &:after {
        box-sizing: inherit;
    }

    appearance: none;
}

a {
    text-decoration: none;

    &:hover {
        text-decoration: none;
    }
}

p {
    padding: 0;
    margin: 0;
}

input:focus, textarea:focus, select:focus, button:focus {
    outline: none;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
    -webkit-box-shadow: 0 0 0 30px white inset !important;
}

label:hover:before {
    border: 2px solid $system_color !important;
}


ul, li {
    margin-left: 20px;
}


html {
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
}

// ~~~~~~~~ END MAIN style for HTML elements ~~~~~~~~


// ~~~~~~~~ To nav bar ~~~~~~~~
header {
    height: $nav;
    background: #FFFFFF;
    //box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 10px 30px;
    z-index: 4;

    .header-brand {
        color: black;
    }
}

// ~~~~~~~~ END top nav bar ~~~~~~~~

// ~~~~~~~~ MAIN STYLE FOR PROJECT ~~~~~~~~

#navbar {
    display: flex;
    justify-content: center;

    .navbar-link {
        cursor: pointer;
        a {
            font-size: 18px;
            color: black;
            padding: 7px 20px 17px;
            display: block;
            font-weight: 400;
        }
    }
}

main {
    display: flex;
    flex-direction: column;
    width: 100%;
    min-height: calc(100vh - #{$menu_height});
    color: white;
    background-color: $system_bg_color;
}

.main-container {
    margin: 0 auto;
    max-width: $container-max-width;
    width: $container-max-width;
}

.border-bottom {
    border-bottom: 1px solid #D7D7D7;
}

#content {
    color: black;
    //width: calc(100% - #{$menu_width});
    //background-color: #FBFDFF;
    //background-color: #F2F7FD;
    padding: 30px 0;
    position: relative;

}

.cart {
    background: #FFFFFF;
    //box-shadow: 0 4px 10px rgba(63, 137, 229, 0.3);
    padding: 26px 36px;
    margin: 30px 0 0 0;
    position: relative;
    border-radius: 8px;

    &.cart-50{
        width: 620px;
    }
}

.row .cart > div{
    height: 100%;
}


.v-center{
    display: flex;
    margin: auto;
    justify-content: center;
    flex-flow: column;
}

.row {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 100%;
    position: relative;


    > div {
        width: 100%;
    }

    > :last-child {
        padding-right: 0 !important;
    }
    div[class^="col-"]{
        padding-right: 12px;
    }

    .col-100 {
        width: 100%;
    }

    .col-95 {
        width: 95%;
    }

    .col-90 {
        width: 90%;
    }

    .col-85 {
        width: 85%;
    }

    .col-80 {
        width: 80%;
    }

    .col-75 {
        width: 75%;
    }

    .col-70 {
        width: 70%;
    }

    .col-65 {
        width: 65%;
    }

    .col-60 {
        width: 60%;
    }

    .col-55 {
        width: 55%;
    }

    .col-50 {
        width: 50%;
    }

    .col-45 {
        width: 45%;
    }

    .col-40 {
        width: 40%;
    }

    .col-35 {
        width: 35%;
    }

    .col-30 {
        width: 30%;
    }

    .col-25 {
        width: 25%;
    }

    .col-20 {
        width: 20%;
    }

    .col-15 {
        width: 15%;
    }

    .col-10 {
        width: 10%;
    }

    .col-5 {
        width: 5%;
    }
}

.b-center {
    margin: auto !important;
}

.center {
    text-align: center;
}

.d-none {
    display: none;
}

.info-block {
    img {
        position: absolute;
        top: 15px;
        right: 15px;
        cursor: pointer;

        &.active {
            z-index: 3;
        }
    }

    .info-content {
        flex-flow: column wrap;
        align-items: center;
        padding: 70px 15px 0;
        position: absolute;
        top: 0;
        right: 0;
        display: none;
        width: 160px;
        background: rgba(40, 123, 226, 0.4);
        height: 100%;
        z-index: 1000;

        .info-cart {
            background: #FFFFFF;
            box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
            width: 100%;
            margin-bottom: 15px;
            padding: 8px 5px;
            font-size: 13px;

            p {
                font-weight: 600;
                margin-bottom: 2px;
            }

            ul {
                list-style: none;

                li {
                    margin-left: -3px;
                    margin-bottom: 2px;

                    &::before {
                        content: "\2022"; /* Add content: \2022 is the CSS Code/unicode for a bullet */
                        color: $system_color; /* Change the color */
                        display: inline-block; /* Needed to add space between the bullet and the text */
                        width: 1em; /* Also needed for space (tweak if needed) */
                        margin-left: -1em; /* Also needed for space (tweak if needed) */
                    }
                }
            }
        }
    }
}

// ~~~~~~~~ MAIN STYLE FOR PROJECT ~~~~~~~~

// ~~~~~~~~ REGISTER PAGE ~~~~~~~~


.register-page {
    font-family: Calibri;
    padding: 30px;

    .forgot-link{
        display: block;
        text-align: center;
    }

    h1 {
        text-align: center;
        margin: 3rem 0;
        font-weight: normal;
    }
}


.text-center {
    text-align: center !important;
}
