.notify-message{
    position: fixed;
    display: flex;
    right: 50px;
    z-index: 999;
    padding: .75rem 1.25rem;
    margin-bottom: 1rem;
    border: 1px solid transparent;
    border-radius: .25rem;
    background-color: #F9F9F9;
    align-items: center;
    min-width: 17rem;

    .notify-title{
        font-size: 18px;
    }
    div{
        color: #777777;
    }
    > div{
        flex-direction: column;
    }
}
.notify-make-sure{
    position: fixed;
    right: calc(50% - 100px);
    top: calc(50% - 100px);
    padding: 1.25rem 1.25rem;
    z-index: 999;
    border-radius: .25rem;
    background-color: #F9F9F9;
    min-width: 12rem;
    min-height: 10rem;
     .icon-notify img{
         position: absolute;
         top: -18px;
         left: calc(50% - 25px);
         border: 5px solid #F9F9F9;
         border-radius: 50%;
     }
    &.notify-message-warning{
        border-left: none;

        .notify-title{
            color: #FFD260;
            text-align: center;
            margin: 1rem;
            font-size: 24px;
        }
    }
    .notify-message-text{
        color: #777777;
        font-size: 16px;
        text-align: center;
        margin-bottom: 1rem;
    }
    .notify-buttons button{
        border: none;
        box-sizing: border-box;
        border-radius: 3px;
        padding: 0.4rem 0.2rem;
        color: #ffffff;
        font-size: 14px;
        min-width: 70px;
    }
    #make-sure-okay{
        background: #FF0000;
        margin-right: 10px;
    }
    #make-sure-cancel{
        background: #B4B4B4;
    }
}
.notify-message-success{
    border-left: 4px solid #15AA24;

    .notify-title{
        color: #15AA24;
    }
}
.notify-message-info{
    border-left: 4px solid #287BE2;

    .notify-title{
        color: #287BE2;
    }
}
.notify-message-warning{
    border-left: 4px solid #FFD260;

    .notify-title{
        color: #FFD260;
    }
}
.notify-message-error{
    border-left: 4px solid #FF0000;

    .notify-title{
        color: #FF0000;
    }
}

.icon-notify{
    align-items: center;
    margin: 0 20px 0 0;
}

#app header .modal-backdrop{
    position: fixed;
    top: 0;
    left: 0;
    z-index: 998;
    width: 100vw;
    height: 100vh;
    background: rgba(0, 0, 0, 0.4)!important;
}
