/* Base for label styling */
[type="checkbox"]:not(:checked),
[type="checkbox"]:checked {
    position: absolute;
    left: -9999px;
}

[type="checkbox"]:not(:checked) + label,
[type="checkbox"]:checked + label {
    position: relative !important;
    padding-left: 1.95em !important;
    cursor: pointer;
    left: 14px !important;
}

/* checkbox aspect */
[type="checkbox"]:not(:checked) + label:before,
[type="checkbox"]:checked + label:before {
    content: '';
    position: absolute;
    left: 0;
    top: 3px;
    width: 1.25em;
    height: 1.25em;
    border: 1px solid $system_color;
    background: #fff;
    border-radius: 4px;
}

/* checked mark aspect */
[type="checkbox"]:not(:checked) + label:after,
[type="checkbox"]:checked + label:after {
    content: '\2713\0020';
    position: absolute;
    top: .25em;
    left: .15em;
    font-size: 1.3em;
    line-height: 0.8;
    color: $system_color;
    transition: all .2s;
    font-family: 'Lucida Sans Unicode', 'Arial Unicode MS', Arial;
}

/* checked mark aspect changes */
[type="checkbox"]:not(:checked) + label:after {
    opacity: 0;
    transform: scale(0);
}

[type="checkbox"]:checked + label:after {
    opacity: 1;
    transform: scale(1);
}

/* disabled checkbox */
[type="checkbox"]:disabled:not(:checked) + label:before,
[type="checkbox"]:disabled:checked + label:before {
    box-shadow: none;
    border-color: #bbb;
    background-color: #ddd;
}

[type="checkbox"]:disabled:checked + label:after {
    color: #999;
}

[type="checkbox"]:disabled + label {
    color: #aaa;
}


form {
    &.auth-form{
        margin: 0 auto;
        width: 60%;
    }

    .form-group {
        margin-bottom: 22px;
        position: relative;

        .form-field {
            width: 100%;
            border: 1px solid $system_color;
            height: 40px;
            box-sizing: border-box;
            border-radius: 5px;
            padding: 5px 10px;
        }

        ::placeholder {
            font-family: Calibri;
            font-style: normal;
            font-weight: normal;
            font-size: 16px;
            line-height: 20px;
            display: flex;
            align-items: center;
            color: $system_color;
        }
        &.social-icon {
            //width: 60px;
            padding-left: 10px;

            img {
                width: 40px;
                height: 40px;
            }
        }

        &.is-invalid {
            label {
                color: $system_error_color;
            }

            input {
                border: 1px solid $system_error_color;
            }

            .invalid-feedback {
                color: $system_error_color;
                font-size: 14px;
                margin-left: 22px;
            }

            .avatar-upload-btn {
                border: 1px solid $system_error_color;
            }
        }
    }

    // Avatar uploads
    input, .selectMultiple > div {
        &[type="file"] {
            display: none;
        }
    }

    .avatar-upload-btn {
        height: 100px;
        width: 100px;
        background-color: #F0F0F0;
        border-radius: 50%;
        display: flex;
        justify-content: center;
        position: relative;
        cursor: pointer;

        .default {
            margin: auto;
            width: 38px;
            height: 38px;
        }

        .uploaded {
            display: none;
            width: 100%;
            height: 100%;
            object-fit: cover;
            border-radius: 50%;
        }

        .sm_photo {
            position: absolute;
            bottom: 0;
            right: 10px;
            background-color: #103D75;
            border-radius: 50%;
            padding: 4px;
        }
    }

    label{
        font-style: normal;
        font-weight: normal;
        font-size: 14px;
        line-height: 20px;
        color: $system_color;
        position: absolute;
        top: 11px;
        left: 11px;
    }


}

.form-field-error {
    border: 1px solid red;
}

.btn {
    padding: 8px 40px;
    font-size: 18px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-family: Open Sans;
    font-style: normal;
    font-weight: normal;
    line-height: 25px;
    text-align: center;
}

.btn-grey {
    background-color: $btn_grey_color;
    color: white;
}

.btn-google {
    border: 1px solid #D0D0D0;
    font-family: Calibri;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 20px;
    color: #000000;
    padding: 8px 25px;
    background-color: transparent;

    img {
        width: 36px;
        vertical-align: middle;
        padding-right: 1rem;
    }
}

.btn-facebook {
    border: 1px solid #D0D0D0;
    font-family: Calibri;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 20px;
    color: #000000;
    padding: 8px 25px;
    background-color: transparent;

    img {
        width: 25px;
        vertical-align: middle;
        padding-right: 1rem;
    }
}




// ~~~~~~~~ Multiple select ~~~~~~~~
.selectMultiple {
    position: relative;

    select {
        display: none;
    }

    & > div {
        position: relative;
        z-index: 2;
        padding: 8px 12px 2px 12px;
        border-radius: 8px;
        background: #fff;
        font-size: 14px;
        min-height: 44px;
        transition: box-shadow .3s ease;

        &:hover {
            box-shadow: 0 4px 24px -1px rgba(#162A5A, .16);
        }

        .arrow {
            right: 1px;
            top: 0;
            bottom: 0;
            cursor: pointer;
            width: 28px;
            position: absolute;

            &:before,
            &:after {
                content: '';
                position: absolute;
                display: block;
                width: 2px;
                height: 8px;
                border-bottom: 8px solid #99A3BA;
                top: 43%;
                transition: all .3s ease;
            }

            &:before {
                right: 12px;
                transform: rotate(-130deg);
            }

            &:after {
                left: 9px;
                transform: rotate(130deg);
            }
        }

        span {
            color: $system_color;
            display: block;
            position: absolute;
            left: 12px;
            cursor: pointer;
            top: 8px;
            line-height: 28px;
            transition: all .3s ease;

            &.hide {
                opacity: 0;
                visibility: hidden;
                transform: translate(-4px, 0);
            }
        }

        a {
            position: relative;
            padding: 0 24px 6px 8px;
            line-height: 28px;
            color: $textColor;
            display: inline-block;
            vertical-align: top;
            margin: 0 6px 0 0;

            em {
                font-style: normal;
                display: block;
                white-space: nowrap;
            }

            &:before {
                content: '';
                left: 0;
                top: 0;
                bottom: 6px;
                width: 100%;
                position: absolute;
                display: block;
                background: rgba(#E4ECFA, .7);
                z-index: -1;
                border-radius: 4px;
            }

            i {
                cursor: pointer;
                position: absolute;
                top: 0;
                right: 0;
                width: 24px;
                height: 28px;
                display: block;

                &:before,
                &:after {
                    content: '';
                    display: block;
                    width: 2px;
                    height: 10px;
                    position: absolute;
                    left: 50%;
                    top: 50%;
                    background: $system_color;
                    border-radius: 1px;
                }

                &:before {
                    transform: translate(-50%, -50%) rotate(45deg);
                }

                &:after {
                    transform: translate(-50%, -50%) rotate(-45deg);
                }
            }

            &.notShown {
                opacity: 0;
                transition: opacity .3s ease;

                &:before {
                    width: 28px;
                    transition: width .45s cubic-bezier(.87, -.41, .19, 1.44) .2s;
                }

                i {
                    opacity: 0;
                    transition: all .3s ease .3s;
                }

                em {
                    opacity: 0;
                    transform: translate(-6px, 0);
                    transition: all .4s ease .3s;
                }

                &.shown {
                    opacity: 1;

                    &:before {
                        width: 100%;
                    }

                    i {
                        opacity: 1;
                    }

                    em {
                        opacity: 1;
                        transform: translate(0, 0);
                    }
                }
            }

            &.remove {
                &:before {
                    width: 28px;
                    transition: width .4s cubic-bezier(.87, -.41, .19, 1.44) 0s;
                }

                i {
                    opacity: 0;
                    transition: all .3s ease 0s;
                }

                em {
                    opacity: 0;
                    transform: translate(-12px, 0);
                    transition: all .4s ease 0s;
                }

                &.disappear {
                    opacity: 0;
                    transition: opacity .5s ease 0s;
                }
            }
        }
    }

    & > ul {
        margin: 0;
        padding: 0;
        list-style: none;
        font-size: 16px;
        z-index: 4;
        position: absolute;
        top: 100%;
        left: 0;
        right: 0;
        visibility: hidden;
        opacity: 0;
        border-radius: 8px;
        transform: translate(0, 20px) scale(.8);
        transform-origin: 0 0;
        filter: drop-shadow(0 12px 20px rgba(#162A5A, .08));
        transition: all .4s ease, transform .4s cubic-bezier(.87, -.41, .19, 1.44), filter .3s ease .2s;

        li {
            color: $textColor;
            background: #fff;
            padding: 12px 16px;
            cursor: pointer;
            overflow: hidden;
            position: relative;
            transition: background .3s ease, color .3s ease, transform .3s ease .3s, opacity .5s ease .3s, border-radius .3s ease .3s;

            &:first-child {
                border-radius: 8px 8px 0 0;

                &:last-child {
                    border-radius: 8px;
                }
            }

            &:last-child {
                border-radius: 0 0 8px 8px;

                &:first-child {
                    border-radius: 8px;
                }
            }

            &:hover {
                background: $system_color;
                color: #fff;
            }

            &:after {
                content: '';
                position: absolute;
                top: 50%;
                left: 50%;
                width: 6px;
                height: 6px;
                background: rgba(#000, .4);
                opacity: 0;
                border-radius: 100%;
                transform: scale(1, 1) translate(-50%, -50%);
                transform-origin: 50% 50%;
            }

            &.beforeRemove {
                border-radius: 0 0 8px 8px;

                &:first-child {
                    border-radius: 8px;
                }
            }

            &.afterRemove {
                border-radius: 8px 8px 0 0;

                &:last-child {
                    border-radius: 8px;
                }
            }

            &.remove {
                transform: scale(0);
                opacity: 0;

                &:after {
                    animation: ripple .4s ease-out;
                }
            }

            &.notShown {
                display: none;
                transform: scale(0);
                opacity: 0;
                transition: transform .35s ease, opacity .4s ease;

                &.show {
                    transform: scale(1);
                    opacity: 1;
                }
            }
        }
    }

    &.open {
        & > div {
            box-shadow: 0 4px 20px -1px rgba(#162A5A, .12);

            .arrow {
                &:before {
                    transform: rotate(-50deg);
                }

                &:after {
                    transform: rotate(50deg);
                }
            }
        }

        & > ul {
            transform: translate(0, 12px) scale(1);
            opacity: 1;
            visibility: visible;
            filter: drop-shadow(0 16px 24px rgba(#162A5A, .16));
        }
    }
}

@keyframes ripple {
    0% {
        transform: scale(0, 0);
        opacity: 1;
    }
    25% {
        transform: scale(30, 30);
        opacity: 1;
    }
    100% {
        opacity: 0;
        transform: scale(50, 50);
    }
}

// ~~~~~~~~ END multiple select ~~~~~~~~



// ~~~~~~~~ Custom style for SKEditor ~~~~~~~~
#content {
    .ck {
        &.ck-editor__editable_inline {
            border: 1px solid $system_color;
            border-top: none;
            border-radius: 0 0 30px 30px;
            min-height: 160px;
        }

        &.ck-toolbar {
            border: 1px solid $system_color;
            border-radius: 30px 30px 0 0;
            background: none;
            padding: 0 20px;

            svg {
                color: $system_color;
            }

            .ck-toolbar {
                border-radius: 0px;
            }
        }

        &.ck-tooltip_s span {
            //color: $system_color;
        }
    }
}

// ~~~~~~~~ END Custom style for SKEditor ~~~~~~~~
