@import url(https://fonts.googleapis.com/css?family=Nunito);@charset "UTF-8";

@font-face {
  font-family: "Segoe UI";
  src: url(/fonts/segoeuisl.ttf?bc4ea50de4dd5dc42b32a0a6d0cd990b) format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Calibri";
  src: url("/fonts/Calibri Regular.ttf?5d7c31b284ddb01fc1cbae0edc9ec210") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Calibri";
  src: url("/fonts/Calibri Light.ttf?0d717c4bf80cbb556bf87777fef7d09e") format("truetype");
  font-weight: lighter;
  font-style: normal;
}

@font-face {
  font-family: "Calibri";
  src: url("/fonts/Calibri Bold.ttf?8c8905b9e5a727f74debd5a1519544fd") format("truetype");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: "Rubik";
  src: url(/fonts/Rubik-Light.ttf?7a06846baf7fd2cfb18c7ab4d663c8ca) format("truetype");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "Rubik";
  src: url(/fonts/Rubik-Regular.ttf?b3d0902b533ff4c4f1698a2f96ddabab) format("truetype");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Rubik";
  src: url(/fonts/Rubik-Medium.ttf?c87313aa86b7caa31a9a0accaa584970) format("truetype");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "Rubik";
  src: url(/fonts/Rubik-Bold.ttf?9a6fb6f5cd3aa4ab1adaaab1f693f266) format("truetype");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "Rubik";
  src: url(/fonts/Rubik-Black.ttf?fba2019b0b09731cc334297955971642) format("truetype");
  font-weight: 900;
  font-style: normal;
}

a,
p,
label,
input,
ul,
li {
  font-weight: 100;
  font-family: "Rubik", sans-serif;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
}

*:before,
*:after {
  box-sizing: inherit;
}

a {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

p {
  padding: 0;
  margin: 0;
}

input:focus,
textarea:focus,
select:focus,
button:focus {
  outline: none;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  -webkit-box-shadow: 0 0 0 30px white inset !important;
}

label:hover:before {
  border: 2px solid #D0D0D0 !important;
}

ul,
li {
  margin-left: 20px;
}

html {
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
}

header {
  height: 60px;
  background: #FFFFFF;
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 10px 30px;
  z-index: 4;
}

header .header-brand {
  color: black;
}

#navbar {
  display: flex;
  justify-content: center;
}

#navbar .navbar-link {
  cursor: pointer;
}

#navbar .navbar-link a {
  font-size: 18px;
  color: black;
  padding: 7px 20px 17px;
  display: block;
  font-weight: 400;
}

main {
  display: flex;
  flex-direction: column;
  width: 100%;
  min-height: calc(100vh - 66px);
  color: white;
  background-color: #F2F2F2;
}

.main-container {
  margin: 0 auto;
  max-width: 1270px;
  width: 1270px;
}

.border-bottom {
  border-bottom: 1px solid #D7D7D7;
}

#content {
  color: black;
  padding: 30px 0;
  position: relative;
}

.cart {
  background: #FFFFFF;
  padding: 26px 36px;
  margin: 30px 0 0 0;
  position: relative;
  border-radius: 8px;
}

.cart.cart-50 {
  width: 620px;
}

.row .cart > div {
  height: 100%;
}

.v-center {
  display: flex;
  margin: auto;
  justify-content: center;
  flex-flow: column;
}

.row {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  width: 100%;
  position: relative;
}

.row > div {
  width: 100%;
}

.row > :last-child {
  padding-right: 0 !important;
}

.row div[class^=col-] {
  padding-right: 12px;
}

.row .col-100 {
  width: 100%;
}

.row .col-95 {
  width: 95%;
}

.row .col-90 {
  width: 90%;
}

.row .col-85 {
  width: 85%;
}

.row .col-80 {
  width: 80%;
}

.row .col-75 {
  width: 75%;
}

.row .col-70 {
  width: 70%;
}

.row .col-65 {
  width: 65%;
}

.row .col-60 {
  width: 60%;
}

.row .col-55 {
  width: 55%;
}

.row .col-50 {
  width: 50%;
}

.row .col-45 {
  width: 45%;
}

.row .col-40 {
  width: 40%;
}

.row .col-35 {
  width: 35%;
}

.row .col-30 {
  width: 30%;
}

.row .col-25 {
  width: 25%;
}

.row .col-20 {
  width: 20%;
}

.row .col-15 {
  width: 15%;
}

.row .col-10 {
  width: 10%;
}

.row .col-5 {
  width: 5%;
}

.b-center {
  margin: auto !important;
}

.center {
  text-align: center;
}

.d-none {
  display: none;
}

.info-block img {
  position: absolute;
  top: 15px;
  right: 15px;
  cursor: pointer;
}

.info-block img.active {
  z-index: 3;
}

.info-block .info-content {
  flex-flow: column wrap;
  align-items: center;
  padding: 70px 15px 0;
  position: absolute;
  top: 0;
  right: 0;
  display: none;
  width: 160px;
  background: rgba(40, 123, 226, 0.4);
  height: 100%;
  z-index: 1000;
}

.info-block .info-content .info-cart {
  background: #FFFFFF;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  width: 100%;
  margin-bottom: 15px;
  padding: 8px 5px;
  font-size: 13px;
}

.info-block .info-content .info-cart p {
  font-weight: 600;
  margin-bottom: 2px;
}

.info-block .info-content .info-cart ul {
  list-style: none;
}

.info-block .info-content .info-cart ul li {
  margin-left: -3px;
  margin-bottom: 2px;
}

.info-block .info-content .info-cart ul li::before {
  content: "\2022";
  /* Add content: \2022 is the CSS Code/unicode for a bullet */
  color: #D0D0D0;
  /* Change the color */
  display: inline-block;
  /* Needed to add space between the bullet and the text */
  width: 1em;
  /* Also needed for space (tweak if needed) */
  margin-left: -1em;
  /* Also needed for space (tweak if needed) */
}

.register-page {
  font-family: Calibri;
  padding: 30px;
}

.register-page .forgot-link {
  display: block;
  text-align: center;
}

.register-page h1 {
  text-align: center;
  margin: 3rem 0;
  font-weight: normal;
}

.text-center {
  text-align: center !important;
}

.notify-message {
  position: fixed;
  display: flex;
  right: 50px;
  z-index: 999;
  padding: 0.75rem 1.25rem;
  margin-bottom: 1rem;
  border: 1px solid transparent;
  border-radius: 0.25rem;
  background-color: #F9F9F9;
  align-items: center;
  min-width: 17rem;
}

.notify-message .notify-title {
  font-size: 18px;
}

.notify-message div {
  color: #777777;
}

.notify-message > div {
  flex-direction: column;
}

.notify-make-sure {
  position: fixed;
  right: calc(50% - 100px);
  top: calc(50% - 100px);
  padding: 1.25rem 1.25rem;
  z-index: 999;
  border-radius: 0.25rem;
  background-color: #F9F9F9;
  min-width: 12rem;
  min-height: 10rem;
}

.notify-make-sure .icon-notify img {
  position: absolute;
  top: -18px;
  left: calc(50% - 25px);
  border: 5px solid #F9F9F9;
  border-radius: 50%;
}

.notify-make-sure.notify-message-warning {
  border-left: none;
}

.notify-make-sure.notify-message-warning .notify-title {
  color: #FFD260;
  text-align: center;
  margin: 1rem;
  font-size: 24px;
}

.notify-make-sure .notify-message-text {
  color: #777777;
  font-size: 16px;
  text-align: center;
  margin-bottom: 1rem;
}

.notify-make-sure .notify-buttons button {
  border: none;
  box-sizing: border-box;
  border-radius: 3px;
  padding: 0.4rem 0.2rem;
  color: #ffffff;
  font-size: 14px;
  min-width: 70px;
}

.notify-make-sure #make-sure-okay {
  background: #FF0000;
  margin-right: 10px;
}

.notify-make-sure #make-sure-cancel {
  background: #B4B4B4;
}

.notify-message-success {
  border-left: 4px solid #15AA24;
}

.notify-message-success .notify-title {
  color: #15AA24;
}

.notify-message-info {
  border-left: 4px solid #287BE2;
}

.notify-message-info .notify-title {
  color: #287BE2;
}

.notify-message-warning {
  border-left: 4px solid #FFD260;
}

.notify-message-warning .notify-title {
  color: #FFD260;
}

.notify-message-error {
  border-left: 4px solid #FF0000;
}

.notify-message-error .notify-title {
  color: #FF0000;
}

.icon-notify {
  align-items: center;
  margin: 0 20px 0 0;
}

#app header .modal-backdrop {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 998;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.4) !important;
}

/* Base for label styling */

[type=checkbox]:not(:checked),
[type=checkbox]:checked {
  position: absolute;
  left: -9999px;
}

[type=checkbox]:not(:checked) + label,
[type=checkbox]:checked + label {
  position: relative !important;
  padding-left: 1.95em !important;
  cursor: pointer;
  left: 14px !important;
}

/* checkbox aspect */

[type=checkbox]:not(:checked) + label:before,
[type=checkbox]:checked + label:before {
  content: "";
  position: absolute;
  left: 0;
  top: 3px;
  width: 1.25em;
  height: 1.25em;
  border: 1px solid #D0D0D0;
  background: #fff;
  border-radius: 4px;
}

/* checked mark aspect */

[type=checkbox]:not(:checked) + label:after,
[type=checkbox]:checked + label:after {
  content: "\2713   ";
  position: absolute;
  top: 0.25em;
  left: 0.15em;
  font-size: 1.3em;
  line-height: 0.8;
  color: #D0D0D0;
  transition: all 0.2s;
  font-family: "Lucida Sans Unicode", "Arial Unicode MS", Arial;
}

/* checked mark aspect changes */

[type=checkbox]:not(:checked) + label:after {
  opacity: 0;
  transform: scale(0);
}

[type=checkbox]:checked + label:after {
  opacity: 1;
  transform: scale(1);
}

/* disabled checkbox */

[type=checkbox]:disabled:not(:checked) + label:before,
[type=checkbox]:disabled:checked + label:before {
  box-shadow: none;
  border-color: #bbb;
  background-color: #ddd;
}

[type=checkbox]:disabled:checked + label:after {
  color: #999;
}

[type=checkbox]:disabled + label {
  color: #aaa;
}

form.auth-form {
  margin: 0 auto;
  width: 60%;
}

form .form-group {
  margin-bottom: 22px;
  position: relative;
}

form .form-group .form-field {
  width: 100%;
  border: 1px solid #D0D0D0;
  height: 40px;
  box-sizing: border-box;
  border-radius: 5px;
  padding: 5px 10px;
}

form .form-group ::-webkit-input-placeholder {
  font-family: Calibri;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 20px;
  display: flex;
  align-items: center;
  color: #D0D0D0;
}

form .form-group ::-moz-placeholder {
  font-family: Calibri;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 20px;
  display: flex;
  align-items: center;
  color: #D0D0D0;
}

form .form-group :-ms-input-placeholder {
  font-family: Calibri;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 20px;
  display: flex;
  align-items: center;
  color: #D0D0D0;
}

form .form-group ::-ms-input-placeholder {
  font-family: Calibri;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 20px;
  display: flex;
  align-items: center;
  color: #D0D0D0;
}

form .form-group ::placeholder {
  font-family: Calibri;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 20px;
  display: flex;
  align-items: center;
  color: #D0D0D0;
}

form .form-group.social-icon {
  padding-left: 10px;
}

form .form-group.social-icon img {
  width: 40px;
  height: 40px;
}

form .form-group.is-invalid label {
  color: #F93636;
}

form .form-group.is-invalid input {
  border: 1px solid #F93636;
}

form .form-group.is-invalid .invalid-feedback {
  color: #F93636;
  font-size: 14px;
  margin-left: 22px;
}

form .form-group.is-invalid .avatar-upload-btn {
  border: 1px solid #F93636;
}

form input[type=file],
form .selectMultiple > div[type=file] {
  display: none;
}

form .avatar-upload-btn {
  height: 100px;
  width: 100px;
  background-color: #F0F0F0;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  position: relative;
  cursor: pointer;
}

form .avatar-upload-btn .default {
  margin: auto;
  width: 38px;
  height: 38px;
}

form .avatar-upload-btn .uploaded {
  display: none;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 50%;
}

form .avatar-upload-btn .sm_photo {
  position: absolute;
  bottom: 0;
  right: 10px;
  background-color: #103D75;
  border-radius: 50%;
  padding: 4px;
}

form label {
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 20px;
  color: #D0D0D0;
  position: absolute;
  top: 11px;
  left: 11px;
}

.form-field-error {
  border: 1px solid red;
}

.btn {
  padding: 8px 40px;
  font-size: 18px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-family: Open Sans;
  font-style: normal;
  font-weight: normal;
  line-height: 25px;
  text-align: center;
}

.btn-grey {
  background-color: #B4B4B4;
  color: white;
}

.btn-google {
  border: 1px solid #D0D0D0;
  font-family: Calibri;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 20px;
  color: #000000;
  padding: 8px 25px;
  background-color: transparent;
}

.btn-google img {
  width: 36px;
  vertical-align: middle;
  padding-right: 1rem;
}

.btn-facebook {
  border: 1px solid #D0D0D0;
  font-family: Calibri;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 20px;
  color: #000000;
  padding: 8px 25px;
  background-color: transparent;
}

.btn-facebook img {
  width: 25px;
  vertical-align: middle;
  padding-right: 1rem;
}

.selectMultiple {
  position: relative;
}

.selectMultiple select {
  display: none;
}

.selectMultiple > div {
  position: relative;
  z-index: 2;
  padding: 8px 12px 2px 12px;
  border-radius: 8px;
  background: #fff;
  font-size: 14px;
  min-height: 44px;
  transition: box-shadow 0.3s ease;
}

.selectMultiple > div:hover {
  box-shadow: 0 4px 24px -1px rgba(22, 42, 90, 0.16);
}

.selectMultiple > div .arrow {
  right: 1px;
  top: 0;
  bottom: 0;
  cursor: pointer;
  width: 28px;
  position: absolute;
}

.selectMultiple > div .arrow:before,
.selectMultiple > div .arrow:after {
  content: "";
  position: absolute;
  display: block;
  width: 2px;
  height: 8px;
  border-bottom: 8px solid #99A3BA;
  top: 43%;
  transition: all 0.3s ease;
}

.selectMultiple > div .arrow:before {
  right: 12px;
  transform: rotate(-130deg);
}

.selectMultiple > div .arrow:after {
  left: 9px;
  transform: rotate(130deg);
}

.selectMultiple > div span {
  color: #D0D0D0;
  display: block;
  position: absolute;
  left: 12px;
  cursor: pointer;
  top: 8px;
  line-height: 28px;
  transition: all 0.3s ease;
}

.selectMultiple > div span.hide {
  opacity: 0;
  visibility: hidden;
  transform: translate(-4px, 0);
}

.selectMultiple > div a {
  position: relative;
  padding: 0 24px 6px 8px;
  line-height: 28px;
  color: black;
  display: inline-block;
  vertical-align: top;
  margin: 0 6px 0 0;
}

.selectMultiple > div a em {
  font-style: normal;
  display: block;
  white-space: nowrap;
}

.selectMultiple > div a:before {
  content: "";
  left: 0;
  top: 0;
  bottom: 6px;
  width: 100%;
  position: absolute;
  display: block;
  background: rgba(228, 236, 250, 0.7);
  z-index: -1;
  border-radius: 4px;
}

.selectMultiple > div a i {
  cursor: pointer;
  position: absolute;
  top: 0;
  right: 0;
  width: 24px;
  height: 28px;
  display: block;
}

.selectMultiple > div a i:before,
.selectMultiple > div a i:after {
  content: "";
  display: block;
  width: 2px;
  height: 10px;
  position: absolute;
  left: 50%;
  top: 50%;
  background: #D0D0D0;
  border-radius: 1px;
}

.selectMultiple > div a i:before {
  transform: translate(-50%, -50%) rotate(45deg);
}

.selectMultiple > div a i:after {
  transform: translate(-50%, -50%) rotate(-45deg);
}

.selectMultiple > div a.notShown {
  opacity: 0;
  transition: opacity 0.3s ease;
}

.selectMultiple > div a.notShown:before {
  width: 28px;
  transition: width 0.45s cubic-bezier(0.87, -0.41, 0.19, 1.44) 0.2s;
}

.selectMultiple > div a.notShown i {
  opacity: 0;
  transition: all 0.3s ease 0.3s;
}

.selectMultiple > div a.notShown em {
  opacity: 0;
  transform: translate(-6px, 0);
  transition: all 0.4s ease 0.3s;
}

.selectMultiple > div a.notShown.shown {
  opacity: 1;
}

.selectMultiple > div a.notShown.shown:before {
  width: 100%;
}

.selectMultiple > div a.notShown.shown i {
  opacity: 1;
}

.selectMultiple > div a.notShown.shown em {
  opacity: 1;
  transform: translate(0, 0);
}

.selectMultiple > div a.remove:before {
  width: 28px;
  transition: width 0.4s cubic-bezier(0.87, -0.41, 0.19, 1.44) 0s;
}

.selectMultiple > div a.remove i {
  opacity: 0;
  transition: all 0.3s ease 0s;
}

.selectMultiple > div a.remove em {
  opacity: 0;
  transform: translate(-12px, 0);
  transition: all 0.4s ease 0s;
}

.selectMultiple > div a.remove.disappear {
  opacity: 0;
  transition: opacity 0.5s ease 0s;
}

.selectMultiple > ul {
  margin: 0;
  padding: 0;
  list-style: none;
  font-size: 16px;
  z-index: 4;
  position: absolute;
  top: 100%;
  left: 0;
  right: 0;
  visibility: hidden;
  opacity: 0;
  border-radius: 8px;
  transform: translate(0, 20px) scale(0.8);
  transform-origin: 0 0;
  -webkit-filter: drop-shadow(0 12px 20px rgba(22, 42, 90, 0.08));
          filter: drop-shadow(0 12px 20px rgba(22, 42, 90, 0.08));
  transition: all 0.4s ease, transform 0.4s cubic-bezier(0.87, -0.41, 0.19, 1.44), -webkit-filter 0.3s ease 0.2s;
  transition: all 0.4s ease, transform 0.4s cubic-bezier(0.87, -0.41, 0.19, 1.44), filter 0.3s ease 0.2s;
  transition: all 0.4s ease, transform 0.4s cubic-bezier(0.87, -0.41, 0.19, 1.44), filter 0.3s ease 0.2s, -webkit-filter 0.3s ease 0.2s;
}

.selectMultiple > ul li {
  color: black;
  background: #fff;
  padding: 12px 16px;
  cursor: pointer;
  overflow: hidden;
  position: relative;
  transition: background 0.3s ease, color 0.3s ease, transform 0.3s ease 0.3s, opacity 0.5s ease 0.3s, border-radius 0.3s ease 0.3s;
}

.selectMultiple > ul li:first-child {
  border-radius: 8px 8px 0 0;
}

.selectMultiple > ul li:first-child:last-child {
  border-radius: 8px;
}

.selectMultiple > ul li:last-child {
  border-radius: 0 0 8px 8px;
}

.selectMultiple > ul li:last-child:first-child {
  border-radius: 8px;
}

.selectMultiple > ul li:hover {
  background: #D0D0D0;
  color: #fff;
}

.selectMultiple > ul li:after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  width: 6px;
  height: 6px;
  background: rgba(0, 0, 0, 0.4);
  opacity: 0;
  border-radius: 100%;
  transform: scale(1, 1) translate(-50%, -50%);
  transform-origin: 50% 50%;
}

.selectMultiple > ul li.beforeRemove {
  border-radius: 0 0 8px 8px;
}

.selectMultiple > ul li.beforeRemove:first-child {
  border-radius: 8px;
}

.selectMultiple > ul li.afterRemove {
  border-radius: 8px 8px 0 0;
}

.selectMultiple > ul li.afterRemove:last-child {
  border-radius: 8px;
}

.selectMultiple > ul li.remove {
  transform: scale(0);
  opacity: 0;
}

.selectMultiple > ul li.remove:after {
  -webkit-animation: ripple 0.4s ease-out;
          animation: ripple 0.4s ease-out;
}

.selectMultiple > ul li.notShown {
  display: none;
  transform: scale(0);
  opacity: 0;
  transition: transform 0.35s ease, opacity 0.4s ease;
}

.selectMultiple > ul li.notShown.show {
  transform: scale(1);
  opacity: 1;
}

.selectMultiple.open > div {
  box-shadow: 0 4px 20px -1px rgba(22, 42, 90, 0.12);
}

.selectMultiple.open > div .arrow:before {
  transform: rotate(-50deg);
}

.selectMultiple.open > div .arrow:after {
  transform: rotate(50deg);
}

.selectMultiple.open > ul {
  transform: translate(0, 12px) scale(1);
  opacity: 1;
  visibility: visible;
  -webkit-filter: drop-shadow(0 16px 24px rgba(22, 42, 90, 0.16));
          filter: drop-shadow(0 16px 24px rgba(22, 42, 90, 0.16));
}

@-webkit-keyframes ripple {
  0% {
    transform: scale(0, 0);
    opacity: 1;
  }

  25% {
    transform: scale(30, 30);
    opacity: 1;
  }

  100% {
    opacity: 0;
    transform: scale(50, 50);
  }
}

@keyframes ripple {
  0% {
    transform: scale(0, 0);
    opacity: 1;
  }

  25% {
    transform: scale(30, 30);
    opacity: 1;
  }

  100% {
    opacity: 0;
    transform: scale(50, 50);
  }
}

#content .ck.ck-editor__editable_inline {
  border: 1px solid #D0D0D0;
  border-top: none;
  border-radius: 0 0 30px 30px;
  min-height: 160px;
}

#content .ck.ck-toolbar {
  border: 1px solid #D0D0D0;
  border-radius: 30px 30px 0 0;
  background: none;
  padding: 0 20px;
}

#content .ck.ck-toolbar svg {
  color: #D0D0D0;
}

#content .ck.ck-toolbar .ck-toolbar {
  border-radius: 0px;
}

