.teacher-request {
  font-family: Calibri;
  font-style: normal;
  font-weight: normal;
  color: #000000;
}

.teacher-request .client-profile-image {
  width: 3rem;
  height: 3rem;
}

.teacher-request .client-name {
  font-size: 18px;
  line-height: 22px;
  padding-top: 5px;
}

.teacher-request .request-time {
  font-size: 14px;
  line-height: 17px;
  color: #B4B4B4;
}

.teacher-request .request-reject {
  margin-right: 20px;
}

.teacher-request .request-message-text {
  font-weight: bold;
  font-size: 16px;
  line-height: 20px;
  margin: 12px 0;
}

.teacher-request .request-message {
  font-size: 16px;
  line-height: 20px;
  color: #000000;
  font-weight: 200;
}

.teacher-request .request-btn {
  cursor: pointer;
}

