<template>
    <div class="container">
        <div class="row">
            <div class="col-100">
                <form>
                    <div class="form-group">
                        <label for="title">Title</label>
                        <input type="text" class="form-control" id="title" name="title">
                    </div>

                    <div class="form-group">
                        <label for="description">description</label>
                        <textarea class="form-control" id="description" rows="3" name="description"></textarea>

                    </div>

                    <h3>Content</h3>
                    <div class="template-content">
                        <div class="row">
                            <div class="col-50 content-column">
                                <h4>Content</h4>
                                <div v-for="block in contentBlocks" v-html="templatesToHtml(block)">

                                </div>
                            </div>
                            <div class="col-30 edit-column">
                                <h4>Edit styles</h4>
                                <input type="text" :value="editingBlock.text">
                            </div>
                            <div class="col-20 template-column">
                                <h4>Templates</h4>
                                <div class="template-groups">
                                    <div @click="addTemplateToContent(template)" v-for="template in templates" :key="template.id" class="template-item">
                                        {{ template.templateTitle }}
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="duration">Duration</label>
                        <input type="number" step="0.01" class="form-control" id="duration" name="duration">
                    </div>

                    <div class="form-group form-check">
                        <input type="checkbox" class="form-check-input" id="is_active" name="is_active">
                        <label class="form-check-label" for="is_active">Is Active</label>
                    </div>

                    <button type="submit" class="btn btn-primary">Submit</button>
                </form>
            </div>
        </div>
    </div>
</template>

<script>

    import templates from "../../../template-content.js";

    export default {
        data() {
            return {
                templates: templates,
                uniqueIdContent: 0,
                contentBlocks: [],
                editingBlock: '',
            }
        },
        methods: {
            addTemplateToContent(item){
                this.contentBlocks.push(item);
                this.editingBlock = item;
                this.uniqueIdContent++;
            },
            templatesToHtml(item){
                if (typeof item === 'object'){
                    let startHtml = '<div ' +
                        'class="'+ item.classComponent +'" ' +
                        'style="'+ item.style +'" ' +
                        'id="'+ this.uniqueIdContent +'">';
                    let endHtml = '</div>';
                    let html = this.tagsToHtml(item.tags);

                    return startHtml + html + endHtml;
                }
                return '';
            },
            tagsToHtml(tags){
                if (typeof tags !== "undefined"){
                    let html = '';
                    tags.forEach(item => {
                        let startHtml = '<' + item.type + ' class="'+ item.class +'" style="'+ item.class +'">';
                        let endHtml = '</' + item.type + '>';
                        html +=  startHtml + item.text + endHtml
                    });

                    return html;
                }
            }
        },

        mounted() {

        },
    }
</script>
<style scoped>
    .template-content {
        border: 2px solid black;
        border-radius: 10px;
    }

    .content-column {
        border-right: 2px solid black;
    }

    .edit-column{
        border-right: 2px solid black;
    }

    .template-item {
        display: inline-block;
        border: 1px solid black;
        border-radius: 5px;
        padding: 20px 15px;
        margin: 4px;
    }
</style>
