<template id="dragdrop">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-12">
                <div class="row">
                    <div class="col-4">
                        <div class="list-group" id="sort-chapters" role="tablist">
                            <a v-for="(chapter, index) in course.chapters"
                               class="list-group-item list-group-item-action sort-item"
                               :class="{'disabled-item' : chapter.display_order == 1}"
                               :id="'list-' + chapter.id"
                               data-toggle="list"
                               :href="'#list-tab-' + chapter.id"
                               role="tab"
                               :key="chapter.id"
                               aria-controls="home">
                                <span v-if="!chapter.edit">{{ chapter.title }}</span>
                                <input class="form-control w-50 d-inline-block"
                                       :class="{ 'is-invalid' : chapter.error }" v-else
                                       @keyup.enter="saveChapter(chapter)" type="text" v-model="chapter.title">

                                <i v-if="!chapter.edit" @click="editChapter(chapter)"
                                   class="fas fa-edit float-right"></i>
                                <i v-else @click="saveChapter(chapter)" class="fas fa-save float-right"></i>
                                <i v-show="chapter.display_order != 1" @click="deleteChapter(index)" class="fas fa-times-circle float-right"></i>
                            </a>
                        </div>
                        <div class="my-3">
                            <button
                                data-toggle="modal"
                                data-target="#add-chapter"
                                class="btn btn-dark">
                                Add chapter
                            </button>
                        </div>
                    </div>
                    <div class="col-8">
                        <div class="tab-content" id="nav-tabContent">
                            <div v-for="(chapter, indexChapter) in course.chapters" class="tab-pane"
                                 :id="'list-tab-' + chapter.id"
                                 role="tabpanel"
                                 :aria-labelledby="'list-' + chapter.id">

                                <div class="list-group sort-lessons" :data-chapter="chapter.id">
                                    <button v-for="(lesson, indexLesson) in chapter.lessons" type="button"
                                            class="sort-item list-group-item list-group-item-action"
                                            :class="{'disabled-item' : (chapter.display_order == 1) && (lesson.display_order == 1)}">
                                        {{ lesson.title }}
                                        <a :href="'/teachers/courses/' + course.id + '/chapters/' + chapter.id + '/lessons/' + lesson.id + '/edit'">
                                            <i class="fas fa-edit float-right"></i>
                                        </a>
                                        <i v-show="(chapter.display_order != 1)  || (lesson.display_order != 1)" @click="deleteLesson(indexChapter, indexLesson)" class="fas fa-times-circle float-right"></i>
                                    </button>

                                    <div class="my-3">
                                        <a :href="'/teachers/courses/' + course.id + '/chapters/' + chapter.id + '/lessons/create'">
                                            <button class="btn btn-dark">Add lesson</button>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="modal fade" id="add-chapter" tabindex="-1" role="dialog" aria-labelledby="add-chapter"
             aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title">Add chapter</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">

                        <div class="form-group">
                            <label for="add-chapter-title"
                                   class="col-form-label">Add chapter</label>
                            <input type="text" class="form-control" id="add-chapter-title" v-model="addChapterTitle"
                                   required onfocus="true">
                            <span v-for="error in validationErrors.title"
                                  :class="{'d-block' : validationErrors.title.length > 0, 'invalid-feedback' : true}"
                                  role="alert">
                                    <strong>{{ error }}</strong>
                                </span>
                        </div>

                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                        <button @click.prevent="addChapter" class="btn btn-primary add-chapter">Add chapter
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    import Sortable from 'sortablejs';

    export default {
        props: ['courseData'],
        data() {
            return {
                course: this.courseData,
                addChapterTitle: '',
                validationErrors: [],
            }
        },
        methods: {
            addChapter() {
                axios.post('/api/chapters', {
                    'title': this.addChapterTitle,
                    'course_id': this.course.id,
                }).then(response => {

                    this.course.chapters.push(response.data);
                    $('#add-chapter').modal('hide');
                    this.addChapterTitle = '';

                }).catch(error => {
                    if (error.response.status == 422) {
                        this.validationErrors = error.response.data.errors;
                    }
                });
            },
            editChapter(chapter) {
                this.$set(chapter, 'edit', true);
            },
            saveChapter(chapter) {
                this.sendUpdateChapter(chapter);
            },
            sendUpdateChapter(chapter) {
                axios.put('/api/chapters/' + chapter.id, {
                    'title': chapter.title,
                }).then(response => {
                    this.$set(chapter, 'edit', false);
                    this.$set(chapter, 'error', false);
                }).catch(error => {
                    if (error.response.status === 422) {
                        this.$set(chapter, 'error', true);
                    }
                });
            },
            reorderLessons(oldIndex, newIndex, chapter_id) {
                axios.put('/api/lessons/orders', {
                    'old_order': oldIndex + 1,
                    'new_order': newIndex + 1,
                    'key_id': chapter_id,
                }).then(response => {

                }).catch(error => {
                    if (error.response.status === 429) {
                        alert('too many attempts')
                    }
                });
            },
            reorderChapters(oldIndex, newIndex) {
                axios.put('/api/chapters/orders', {
                    'old_order': oldIndex + 1,
                    'new_order': newIndex + 1,
                    'key_id': this.course.id,
                }).then(response => {

                }).catch(error => {
                    if (error.response.status === 429) {
                        alert('too many attempts')
                    }
                });
            },
            deleteChapter(index){
                const chapter = this.course.chapters[index];
                const sure = confirm('Are you sure you want delete chapter: ' + chapter.title);
                if (sure) {
                    axios.delete('/api/chapters/' + chapter.id)
                        .then(response => {
                            this.course.chapters.splice(index, 1);
                        }).catch(error => {
                        alert(error.response.statusText);
                    });
                }
            },
            deleteLesson(indexChapter, indexLesson){
                const lesson = this.course.chapters[indexChapter].lessons[indexLesson];
                const sure = confirm('Are you sure you want delete lesson: ' + lesson.title);
                if (sure) {
                    axios.delete('/api/lessons/' + lesson.id)
                        .then(response => {
                            this.course.chapters[indexChapter].lessons.splice(indexLesson, 1);
                        }).catch(error => {
                        alert(error.response.statusText);
                    });
                }
            }
        },

        mounted() {
            let vm = this;
            const chapters = document.getElementById('sort-chapters');
            Sortable.create(chapters, {
                draggable: 'a.sort-item',
                ghostClass: "sort-ghost",
                dragClass: "sortable-drag",
                animation: 80,
                filter: '.disabled-item',
                onMove: event => {
                    return !event.related.classList.contains('disabled-item');
                },
                onUpdate: function (evt) {
                    vm.reorderChapters(evt.oldIndex, evt.newIndex)
                },
            });

            const lessons = document.getElementsByClassName('sort-lessons');
            for (let i = 0; i < lessons.length; i++) {
                Sortable.create(lessons[i], {
                    draggable: 'button.sort-item',
                    ghostClass: "sort-ghost",
                    animation: 80,
                    filter: '.disabled-item',
                    onMove: event => {
                        return !event.related.classList.contains('disabled-item');
                    },
                    onUpdate: function (evt) {
                        vm.reorderLessons(evt.oldIndex, evt.newIndex, lessons[i].dataset.chapter);
                    }
                });
            }

        },
    }
</script>
<style scoped>
    .sort-ghost {
        opacity: 0.3;
        transition: all 0.7s ease-out;
    }
</style>
