<template>
    <div>
        <div class="row">
            <div class="col-md-3 mb-4">
                <ul class="list-group">
                    <li v-for="category in categories" class="list-group-item">
                        <input type="checkbox" v-model="categoriesChecked" :value="category.id">
                        <label>{{ category.title}}</label>
                    </li>
                </ul>
            </div>
        </div>
        <div class="row">
            <div v-for="(course, index) in filteredCourses" :key="course.id" class="col-md-4 mb-4">
                <div class="card" style="width: 18rem;">
                    <img :src="'/' + course.image" class="card-img-top" :alt="course.info.title">
                    <div class="card-body">
                        <h5 class="card-title">{{course.info.title}}</h5>
                        <p class="card-text">{{ course.info.description}}</p>
                        <div>
                            <span v-for="category in course.sub_category" class="mr-2 category-item">{{ category.title }}</span>
                        </div>
                        <a href="#" class="btn btn-primary">Go to course</a>
                        <i @click="toggleBookmark(index)" class="far fa-star" :class="{bookmark: course.bookmark}"></i>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    export default {
        props: ['coursesData', 'categoriesData'],
        data() {
            return {
                courses: this.coursesData,
                categories: this.categoriesData,
                categoriesChecked: [],
            }
        },
        methods: {
            toggleBookmark(index){
                const bool = !this.courses[index].bookmark;
                const courseId = this.courses[index].id;
                this.$set(this.courses[index], 'bookmark', bool);

                axios.put('/courses/' + courseId +  '/bookmarks', {
                    'bookmarks': bool,
                }).then(response => {

                }).catch(error => {
                    if (error.response.status === 429) {
                        alert(error.response.statusText);
                    }
                });

            }
        },
        computed: {
            filteredCourses() {
                if (this.categoriesChecked.length === 0) {
                    return this.courses;
                }
                let vm = this;
                return this.courses.filter(function (course) {
                    let result = false;
                    course.sub_category.forEach(item => {
                        if (vm.categoriesChecked.includes(parseInt(item.category_id))){
                            result = true;
                        }
                    });
                    return result;
                });
            },
        },
        created() {
            this.courses.forEach(course => {
               if (course.bookmarks.length > 0){
                   this.$set(course, 'bookmark', true);
               }
            });
        }
    }
</script>
<!-- delete after rewrite-->
<style scoped>
    .category-item{
        border: 1px solid red;
        background-color: yellow;
    }
    .bookmark{
        color: red;
    }
</style>
