<template>
    <div>
        <div class="row">
            <div v-for="(lesson, index) in lessons" :key="lesson.id" class="col-md-4 mb-4">
                <div class="card" style="width: 18rem;">
                    <div class="card-body">
                        <button @click="deleteLesson(index)" type="button" class="close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                        <h5 class="card-title">{{lesson.title}}</h5>
                        <p class="card-text">{{ lesson.description}}</p>

                        <label for="is_active">Is Active</label>
                        <input id="is_active" @change="toggleActive(lesson, $event)" type="checkbox"
                               :checked="lesson.is_active == 1">

                        <div class="mb-2">

                            <div class="dropdown">
                                <button class="btn btn-secondary dropdown-toggle" type="button" data-toggle="dropdown"
                                        aria-haspopup="true" aria-expanded="false">
                                    Add lesson to
                                </button>
                                <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                    <button @click="addLessonToGroup(lesson)" class="dropdown-item">Group of Student
                                    </button>
                                    <button @click="addLessonToStudent(lesson)" class="dropdown-item">Student</button>
                                </div>
                            </div>
                        </div>
                        <a :href="'/teachers/private/lessons/' + lesson.id + '/edit'" class="btn btn-primary">Go to
                            lessons</a>
                        <button @click="duplicateLesson(index)" class="btn btn-secondary mt-2">Duplicate lesson</button>
                    </div>
                </div>
            </div>
        </div>

        <div class="modal fade" id="studentModal" tabindex="-1" role="dialog" aria-labelledby="studentModalLabel"
             aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="studentModalLabel">Student</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <form @submit.prevent="studentSubmit">
                        <div class="modal-body">
                            <div class="input-group mb-3">
                                <select class="custom-select" v-model="studentSelected" multiple
                                        :class="{ 'is-invalid' : isInvalid}">
                                    <option v-for="student in students" :value="student.id">{{
                                        student.user.client_profile.first_name }}
                                    </option>
                                </select>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                            <button type="submit" class="btn btn-primary">Add</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <div class="modal fade" id="groupModal" tabindex="-1" role="dialog" aria-labelledby="groupModalLabel"
             aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="groupModalLabel">Group</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <form @submit.prevent="groupSubmit">
                        <div class="modal-body">
                            <div class="input-group mb-3">
                                <select class="custom-select" v-model="groupSelected"
                                        :class="{ 'is-invalid' : isInvalid}" multiple>
                                    <option v-for="group in groups" :value="group.id">{{ group.title }}</option>
                                </select>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                            <button type="submit" class="btn btn-primary">Add</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    export default {
        props: ['lessonsData', 'teacherGroupsData', 'teacherStudentsData'],
        data() {
            return {
                lessons: this.lessonsData,
                groups: this.teacherGroupsData,
                students: this.teacherStudentsData,
                addLesson: 0,
                studentSelected: [],
                isInvalid: false,
                groupSelected: [],
            }
        },
        methods: {
            addLessonToGroup(lesson) {
                this.addLesson = lesson.id;
                $('#groupModal').modal('show');
            },
            addLessonToStudent(lesson) {
                this.addLesson = lesson.id;
                $('#studentModal').modal('show');
            },
            studentSubmit(submitEvent) {
                this.isInvalid = this.studentSelected.length < 1;
                axios.post('/teachers/private/lessons/' + this.addLesson + '/student', {
                    'students': this.studentSelected,
                }).then(response => {

                }).catch(error => {
                    if (error.response.status === 422) {

                    }
                }).then(response => {
                    this.studentSelected = [];
                    $('#studentModal').modal('hide');
                });
            },
            groupSubmit() {
                this.isInvalid = this.groupSelected.length < 1;
                axios.post('/teachers/private/lessons/' + this.addLesson + '/group', {
                    'groups': this.groupSelected,
                }).then(response => {

                }).catch(error => {
                    if (error.response.status === 422) {

                    }
                }).then(response => {
                    this.groupSelected = [];
                    $('#groupModal').modal('hide');
                });
            },
            deleteLesson(index) {
                const lesson = this.lessons[index];
                const sure = confirm('Do you want delete lesson ' + lesson.title + ' ?');
                if (sure) {
                    axios.delete('/teachers/private/lessons/' + lesson.id)
                        .then(response => {
                            this.lessons.splice(index, 1);
                        });
                }
            },
            toggleActive(lesson, $event) {
                const checked = $event.target.checked ? 1 : 0;

                axios.put('/teachers/private/lessons/' + lesson.id + '/activate', {
                    'is_active': checked,
                }).then(response => {
                    this.$set(lesson, 'is_active', checked);
                }).catch(error => {
                    if (error.response.status === 429) {
                        alert(error.response.statusText);
                        this.$set(lesson, 'is_active', !checked);
                    }
                });
            },
            duplicateLesson(index) {
                const lesson = this.lessons[index];

                axios.post('/teachers/private/lessons/' + lesson.id + '/duplicate',)
                    .then(response => {
                        this.lessons.push(response.data);
                    }).catch(error => {
                    alert(error.response.statusText);
                });
            }
        },
    }

</script>
