<template>
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-9">
                <form>
                    <div class="form-group">
                        <label for="title">Title</label>
                        <input type="text" class="form-control" id="title" v-model="lesson.title">
                    </div>
                    <div class="form-group">
                        <label for="description">Description</label>
                        <textarea class="form-control" id="description" rows="3"
                                  v-model="lesson.description"></textarea>
                    </div>

                    <div class="form-group">
                        <label for="create-lesson-content">Content</label>
                        <textarea class="form-control" id="create-lesson-content" rows="3"
                                  name="content" v-model="lesson.content"></textarea>
                    </div>

                    <div class="form-group">
                        <label for="duration">Duration</label>
                        <input type="number" step="0.01" class="form-control"
                               id="duration" v-model="lesson.duration">
                    </div>

                    <div class="form-group">
                        <label for="is_active">Is Active</label>
                        <input type="checkbox" id="is_active" v-model="lesson.is_active">
                    </div>
                    <button @click.prevent="saveLesson" class="btn btn-primary">Submit</button>
                </form>
            </div>
            <div>
                <h3>Students</h3>
                <table class="table">
                    <tr>
                        <td>name</td>
                        <td>action</td>
                    </tr>
                    <tr v-for="(student, index) in students">
                        <td>{{student.user.client_profile.full_name}}</td>
                        <td>
                            <button v-show="student.client_lessons.length > 0" @click="detachLesson(index)"
                                    class="btn btn-danger">Detach
                            </button>
                            <button v-show="student.client_lessons.length === 0" @click="attachLesson(index)"
                                    class="btn btn-success">Attach
                            </button>
                        </td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
</template>

<script>
    export default {
        props: ['lessonData', 'studentsData'],
        data() {
            return {
                lesson: this.lessonData,
                students: this.studentsData,
            }
        },
        methods: {
            saveLesson() {
                axios.put('/teachers/private/lessons/' + this.lesson.id, this.lesson)
                    .then(response => {
                        alert('saved');
                    }).catch(error => {
                    alert(error.response.statusText);
                });
            },
            detachLesson(index) {
                const studentId = this.students[index].id;
                axios.delete('/teachers/private/lessons/' + this.lesson.id + '/detach/' + studentId)
                    .then(response => {
                        this.students[index].client_lessons.splice(0, 1);
                        alert('deleted');
                    }).catch(error => {
                    alert(error.response.statusText);
                });
            },
            attachLesson(index) {
                let vm = this;
                const studentId = this.students[index].id;
                axios.post('/teachers/private/lessons/' + this.lesson.id + '/student', {
                    students: [studentId],
                }).then(response => {
                    this.students[index].client_lessons.push(this.lesson.id);
                    alert('added');
                }).catch(error => {
                    alert(error.response.statusText);
                });
            }
        },
        mounted() {
            this.lesson.is_active = parseInt(this.lesson.is_active);
        }
    }

</script>
