<template>
    <div class="container">
        <button @click="showInputNewGroup = true" class="btn btn-success">Add group</button>
        <span v-show="showInputNewGroup">
            <input @keypress.enter="createGroup" type="text" v-model="newGroup">
            <button @click="createGroup">Save</button>
            <button @click="showInputNewGroup = false">Cancel</button>
        </span>

        <div class="row justify-content-center">

            <div v-for="(group, index) in groups" :key="group.id" class="col-md-4 mb-4 mr-4">
                <div class="card" style="width: 18rem;">
                    <button @click="deleteGroup(index)" type="button" class="close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <div class="card-body">
                        <h5 v-if="!group.edit" class="card-title">{{ group.title }}</h5>
                        <input v-else @keyup.enter="saveGroup(group)" class="form-control" :class="{'is-invalid' : group.error}" type="text" v-model="group.title">
                        <span v-if="group.error" class="invalid-feedback" role="alert">
                            <strong>{{ group.error_message }}</strong>
                        </span>
                        <i v-if="!group.edit" @click="editGroup(group)" class="fas fa-edit float-right"></i>
                        <i v-else @click="saveGroup(group)" class="fas fa-save float-right"></i>

                        <div>
                            <h4>Students</h4>
                            <ul v-for="(student, studentIndex) in group.clients">
                                <li>
                                    {{ student.user.client_profile.full_name }}
                                    <button @click="detachStudent(index, studentIndex)" class="float-right btn btn-danger">
                                        Detach
                                    </button>
                                </li>
                            </ul>
                        </div>
                        <div>
                            <button @click="showSelectAddStudent(group)">Add more user to group</button>
                            <div v-show="group.addStudent">
                                <ul>
                                    <li v-if="checkEqual(group, student)" v-for="(student, studentIndex) in clients" class="mb-4">
                                        {{ student.user.client_profile.full_name }}
                                        <button class="btn btn-success float-right" @click="attachStudent(index, studentIndex)">Attach</button>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    export default {
        props: ['groupsData', 'clientsData'],
        data() {
            return {
                groups: this.groupsData,
                clients: this.clientsData,
                newGroup: '',
                showInputNewGroup: false,
            }
        },
        methods: {
            deleteGroup(index) {
                const group = this.groups[index];
                const sure = confirm('Do you want delete group ' + group.title + ' ?');
                if (sure) {
                    axios.delete('/teachers/groups/' + group.id)
                        .then(response => {
                            this.groups.splice(index, 1);
                        });
                }
            },
            createGroup() {
                const sure = confirm('Do you want create group ' + this.newGroup + ' ?');
                if (sure) {
                    axios.post('groups', {
                        title: this.newGroup,
                    }).then(response => {
                        this.groups.push(response.data);
                        this.showInputNewGroup = false;
                        this.newGroup = '';
                    });
                }
            },
            checkEqual(group, student){
                let result = true;
                group.clients.forEach(client => {
                    if (client.id == student.id){
                        result = false;
                    }
                })
                return result;
            },
            editGroup(group){
                this.$set(group, 'edit', true);
            },
            saveGroup(group){
                axios.put('/teachers/groups/' + group.id, {
                    'title': group.title,
                }).then(response => {
                    this.$set(group, 'edit', false);
                    this.$set(group, 'error', false);
                }).catch(error => {
                    if (error.response.status === 422) {
                        this.$set(group, 'error', true);
                        this.$set(group, 'error_message', error.response.data.errors.title[0]);
                    }
                });
            },
            detachStudent(groupIndex, studentIndex){
                const group = this.groups[groupIndex];
                const student = group.clients[studentIndex];
                const sure = confirm('Do you want detach student from group ' + group.title + ' ?');
                if (sure) {
                    axios.delete('/teachers/groups/' + group.id + '/detach/' + student.id)
                        .then(response => {
                            this.groups[groupIndex].clients.splice(studentIndex,1);
                        });
                }
            },
            showSelectAddStudent(group){
                this.$set(group, 'addStudent', !group.addStudent);
                this.groups.forEach(groupInner => {
                    if (groupInner.id !== group.id){
                        this.$set(groupInner, 'addStudent', false);
                    }
                })
            },
            attachStudent(groupIndex, studentIndex){
                const group = this.groups[groupIndex];
                const student = this.clients[studentIndex];

                axios.post('/teachers/groups/' + group.id + '/attach/' + student.id)
                    .then(response => {
                        this.groups[groupIndex].clients.push(this.clients[studentIndex]);
                    });
            },
        },
    }

</script>
