<template>

    <form action="#" method="POST" enctype="multipart/form-data">
        @csrf
        <div class="row">
            <div class="cart cart-50">
                <div class="row">
                    <div class="col-25 v-center">
                        <div class="form-group">
                            <div class="avatar-upload-btn b-center" id="teacher-photo-container"
                                 onclick="chooseTeacherProfilePhoto();">
                                <img class="default" src="/img/default_user.svg" alt="">
                                <img class="uploaded" src="" alt="">
                            </div>
<!--                            <div class="invalid-feedback center">{{ $message }}</div>-->

                            <input type="file"
                                   class="form-control-file"
                                   id="teacher-photo"
                                   name="photo"
                                   accept="image/x-png,image/jpg,image/jpeg"
                            >
                        </div>
                    </div>
                    <div class="col-75 v-center">
                        <div class="row">
                            <div class="col-50">
                                <div class="form-group">
                                    <label for="teacher_fname">{{ $t('profile.first_name') }}</label>
                                    <input id="teacher_fname" name="first_name" class="form-field"
                                           required type="text">

                                </div>
                            </div>
                            <div class="col-50">
                                <div class="form-group">
                                    <label for="teacher_lname">{{ $t('profile.last_name')}}</label>
                                    <input type="text" name="last_name" class="form-field"
                                           required id="teacher_lname">

                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-50">
                                <div class="form-group">
                                    <label for="teacher_degree">{{ $t('profile.degree')}}</label>
                                    <input type="text" name="degree" class="form-field" required
                                           id="teacher_degree">

                                </div>
                            </div>
                            <div class="col-50">
                                <div class="form-group">
                                    <label for="teacher_phone">{{ $t('profile.phone')}}</label>
                                    <input id="teacher_phone" name="phone" class="form-field"
                                           type="text">
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-100">
                                <div class="form-group">
                                    <label>{{ $t('profile.chose_skills')}}</label>
<!--                                    <select multiple name="abilities[]"-->
<!--                                            class=>-->
<!--                                        @foreach($teacherCategories as $category)-->
<!--                                        <option-->
<!--                                            value="{{$category->id}}" {{ (collect(old('abilities'))->contains($category->id)) ? 'selected':'' }}>{{$category->title}}</option>-->
<!--                                        @endforeach-->
<!--                                    </select>-->
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-100">
                                <div class="form-group">
                                    <input class="styled-checkbox" id="styled-checkbox-1" name="is_public"
                                           type="checkbox">
                                    <label for="styled-checkbox-1">{{ $t('profile.is_public')}}</label>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="cart cart-50">
                <div class="row">
<!--                    @foreach(App\Models\Socialmedia::all() as $item)-->
<!--                    <div class="form-group col-15 social-icon">-->
<!--                        <img src="{{asset('img/social_icons/' . $item->title . '.svg')}}" alt="">-->
<!--                    </div>-->
<!--                    <div class="form-group col-85">-->
<!--                        <label for="teacher_{{$item->title}}"> {{$item->title}} </label>-->
<!--                        <input id="teacher_{{$item->title}}" name="social_{{$item->title}}" class="form-field"-->
<!--                               value="{{ old('social_' . $item->title) }}" type="text">-->
<!--                    </div>-->
<!--                    @endforeach-->
                </div>
            </div>
            <div class="cart cart-100">
                <div class="form-group">
                    <label for="content">{{ $t('profile.personal_info')}}</label>
                    <div id="create-profile-toolbar-container"></div>

                    <textarea id="about_me_textarea" class="d-none" name="about_me"></textarea>

                    <div id="create-profile-content"></div>
                </div>

                <div class="form-group text-center b-center">
                    <button type="submit" id="submit_profile_teacher"
                            class="btn b-center">{{ $t('profile.save_btn')}}</button>
                </div>
            </div>
        </div>
    </form>

</template>

<script>
    export default {
        name: "CreateComponent"
    }
</script>

<style scoped>

</style>
