<template>
    <div class="container">

        <div class="row justify-content-center">

            <div v-for="(teacher, index) in teachers" :key="teacher.id" class="col-md-4 mb-4 mr-4">
                <div class="card" style="width: 19rem;">
                    <div class="card-body">
                        <div>
                            <a :href="'teachers/' + teacher.id">
                                <img :src="teacher.photo" class="rounded bg-black float-left" alt="teacher image">
                                <h4>{{ teacher.full_name}}</h4>
                            </a>
                        </div>
                        <div>
                            <form @submit.prevent="requestToTeacher(index, $event)">
                                <input v-show="!teacher.requested" name="message" type="text" placeholder="Request to teacher">
                                <button v-if="!teacher.requested" type="submit" class="btn btn-success">Request</button>
                                <button v-else type="submit" class="btn btn-danger disabled" disabled>Requested</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    export default {
        props: ['teachersData', 'requestsData'],
        data() {
            return {
                teachers: this.teachersData,
                requests: this.requestsData,
            }
        },
        methods: {
            requestToTeacher(index, $event){
                const teacher = this.teachers[index];
                axios.post('/teachers/request', {
                    'message': $event.target.message.value,
                    'teacher_id': teacher.id,
                }).then(response => {
                    $event.target.message.value = '';
                    this.$set(teacher, 'requested', true);
                }).catch(error => {

                });
            }
        },
        created() {
            this.teachers.forEach(teacher => {
                this.requests.forEach(request => {
                    if (teacher.id == request.teacher_id){
                        this.$set(teacher, 'requested', true);
                    }
                })
            });
        }
    }

</script>
<style scoped>
    .container {
        color: #000;
    }
    .bg-black{
        background-color: #000;
    }
</style>
